@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .invert {
    filter: invert();
  }
  .search::before {
    content: '☌';
    position: absolute;
    bottom: 0.75rem;
    color: #fff;
    transform: rotate(110deg);
    font-size: 2rem;
  }
}
